<div class="container-fluid user-dashboard-container">
  <div class="row">

    <nav class="col-md-3 d-none pt-3 d-md-block bg-white sidebar">
      <div class="sidebar-sticky">

        <div id="accordion" class="panel panel-primary behclick-panel">
          <div class="panel-heading">
            <h5 class="panel-title">Job filters</h5>
          </div>

          <div class="panel-body" >
            <div class="panel-heading">
              <h6 class="panel-title">
                <a data-toggle="collapse" href="#collapse0">
                  <i class="indicator fa fa-caret-down" aria-hidden="true"></i> Min Annual Salary
                </a>
              </h6>
            </div>
            <div id="collapse0" class="panel-collapse collapse in" >
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      20K$
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox" >
                    <label>
                      <input type="checkbox" value="">
                      40K$
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox"  >
                    <label>
                      <input type="checkbox" value="">
                      60K$
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox"  >
                    <label>
                      <input type="checkbox" value="">
                      80K$
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox"  >
                    <label>
                      <input type="checkbox" value="">
                      100K$
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox"  >
                    <label>
                      <input type="checkbox" value="">
                      150K$
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox"  >
                    <label>
                      <input type="checkbox" value="">
                      200K$
                    </label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="panel-heading" >
              <h6 class="panel-title">
                <a data-toggle="collapse" href="#collapse1"><i class="indicator fa fa-caret-down" aria-hidden="true"></i>US Sponsorship</a>
              </h6>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      Yes
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>


          <div class="panel-heading">
            <br>
            <h5 class="panel-title">Benefits</h5>
          </div>
          <div class="panel-body" >
            <div class="panel-heading " >
              <h6 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">
                  <i class="indicator fa fa-caret-down" aria-hidden="true"></i> Health
                </a>
              </h6>
            </div>
            <div id="collapse2" class="panel-collapse collapse in" >
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      100% covered health insurance
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      80% covered health insurance
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox" >
                    <label>
                      <input type="checkbox" value="">
                      Dental insurance
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox"  >
                    <label>
                      <input type="checkbox" value="">
                      Vision insurance
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox"  >
                    <label>
                      <input type="checkbox" value="">
                      Trans-inclusive healthcare
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="panel-heading" >
              <h6 class="panel-title">
                <a data-toggle="collapse" href="#collapse3"><i class="indicator fa fa-caret-down" aria-hidden="true"></i>Retirement</a>
              </h6>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      401(k) Matching
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox" >
                    <label>
                      <input type="checkbox" value="">
                      401(k)
                    </label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="panel-heading" >
              <h6 class="panel-title">
                <a data-toggle="collapse" href="#collapse4"><i class="indicator fa fa-caret-right" aria-hidden="true"></i> Vacation</a>
              </h6>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      Unlimited Vacation
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      30+ Days Vacation
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox" >
                    <label>
                      <input type="checkbox" value="">
                      Remote
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      Flexible Hours
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      Beach Within 60 Minutes
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      Mountain Within 60 Minutes
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="panel-heading" >
              <h6 class="panel-title">
                <a data-toggle="collapse" href="#collapse5"><i class="indicator fa fa-caret-right" aria-hidden="true"></i>Family</a>
              </h6>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      Life Insurance
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox" >
                    <label>
                      <input type="checkbox" value="">
                      30+ Days Parental Leave
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      60+ Days Parental Leave
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      90+ Days Parental Leave
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="panel-heading" >
              <h6 class="panel-title">
                <a data-toggle="collapse" href="#collapse6"><i class="indicator fa fa-caret-right" aria-hidden="true"></i> Office</a>
              </h6>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      Office dogs
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      Lunch provided
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="panel-heading" >
              <h6 class="panel-title">
                <a data-toggle="collapse" href="#collapse7"><i class="indicator fa fa-caret-right" aria-hidden="true"></i> Other</a>
              </h6>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      Professional Development Budget
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      Equity
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox" >
                    <label>
                      <input type="checkbox" value="">
                      Environmental Mission
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      Social Mission
                    </label>
                  </div>
                </li>

              </ul>
            </div>
            <p>CLEAR FILTERS</p>


          </div>
        </div>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">

      <div class="container-fluid col-md-9">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Holy guacamole!</strong> Language here about the values FMF brings with advanced searching tools. <br>/!\ Add a "Don't show this message again" box. /!\
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 style="color:gray;">Dashboard</h1>
      </div>

      <nav class="nav nav-pills flex-column flex-sm-row mb-4">
        <a class="flex-sm-fill text-sm-center nav-link active" href="#">Matched Jobs</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Saved/Favorites</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Applications</a>
      </nav>

      <div class="container matched-jobs">

        <div class="row centered matched-job">

          <div class="col-xs-1 col-sm-1 col-md-1 col-md-1">
            <%= image_tag "checked.png", class: "icon-resized" %>
          </div>

          <div class="col-xs-11 col-sm-11 col-md-5 col-md-5">
            <h4>Senior Javascript Engineer</h4>
            <h5 class="text-muted">Mapping Startup</h5>
            <div>Denver</div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4 col-md-4 matched-job-skills">
           <h5 class="row matched-job-skills-title">Main skills</h5>
           <div class="row">
            <table class="table">
              <tbody>
                <tr>
                  <td>Javascript</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>CSS</td>
                  <td>3</td>
                </tr>
                <tr>
                  <td>Rails</td>
                  <td>1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-md-2">
          <button class="btn-orange btn-apply">Apply</button>
        </div>

      </div>

      <div class="row centered matched-job">

        <div class="col-xs-1 col-sm-1 col-md-1 col-md-1">
          <%= image_tag "checked.png", class: "icon-resized" %>
        </div>

        <div class="col-xs-11 col-sm-11 col-md-5 col-md-5">
          <h4>Senior Javascript Engineer</h4>
          <h5 class="text-muted">Mapping Startup</h5>
          <div>Denver</div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-md-4 matched-job-skills">
         <h5 class="row matched-job-skills-title">Main skills</h5>
         <div class="row">
          <table class="table">
            <tbody>
              <tr>
                <td>Javascript</td>
                <td>4</td>
              </tr>
              <tr>
                <td>CSS</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Rails</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-md-2">
        <button class="btn-orange btn-apply">Apply</button>
      </div>

    </div>

    <div class="row centered matched-job">

      <div class="col-xs-1 col-sm-1 col-md-1 col-md-1">
        <%= image_tag "checked.png", class: "icon-resized" %>
      </div>

      <div class="col-xs-11 col-sm-11 col-md-5 col-md-5">
        <h4>Senior Javascript Engineer</h4>
        <h5 class="text-muted">Mapping Startup</h5>
        <div>Denver</div>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-4 col-md-4 matched-job-skills">
       <h5 class="row matched-job-skills-title">Main skills</h5>
       <div class="row">
        <table class="table">
          <tbody>
            <tr>
              <td>Javascript</td>
              <td>4</td>
            </tr>
            <tr>
              <td>CSS</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Rails</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-2 col-md-2">
      <button class="btn-orange btn-apply">Apply</button>
    </div>

  </div>

  <div class="row centered matched-job">

    <div class="col-xs-1 col-sm-1 col-md-1 col-md-1">
      <%= image_tag "checked.png", class: "icon-resized" %>
    </div>

    <div class="col-xs-11 col-sm-11 col-md-5 col-md-5">
      <h4>Senior Javascript Engineer</h4>
      <h5 class="text-muted">Mapping Startup</h5>
      <div>Denver</div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-md-4 matched-job-skills">
     <h5 class="row matched-job-skills-title">Main skills</h5>
     <div class="row">
      <table class="table">
        <tbody>
          <tr>
            <td>Javascript</td>
            <td>4</td>
          </tr>
          <tr>
            <td>CSS</td>
            <td>3</td>
          </tr>
          <tr>
            <td>Rails</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-2 col-md-2">
    <button class="btn-orange btn-apply">Apply</button>
  </div>

</div>

<div class="row centered matched-job">

  <div class="col-xs-1 col-sm-1 col-md-1 col-md-1">
    <%= image_tag "checked.png", class: "icon-resized" %>
  </div>

  <div class="col-xs-11 col-sm-11 col-md-5 col-md-5">
    <h4>Senior Javascript Engineer</h4>
    <h5 class="text-muted">Mapping Startup</h5>
    <div>Denver</div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-md-4 matched-job-skills">
   <h5 class="row matched-job-skills-title">Main skills</h5>
   <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <td>Javascript</td>
          <td>4</td>
        </tr>
        <tr>
          <td>CSS</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Rails</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-2 col-md-2">
  <button class="btn-orange btn-apply">Apply</button>
</div>

</div>

<div class="row centered matched-job">

  <div class="col-xs-1 col-sm-1 col-md-1 col-md-1">
    <%= image_tag "checked.png", class: "icon-resized" %>
  </div>

  <div class="col-xs-11 col-sm-11 col-md-5 col-md-5">
    <h4>Senior Javascript Engineer</h4>
    <h5 class="text-muted">Mapping Startup</h5>
    <div>Denver</div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-4 col-md-4 matched-job-skills">
   <h5 class="row matched-job-skills-title">Skills needed</h5>
   <div class="row">
    <table class="table">
      <tbody>
        <tr>
          <td>Javascript</td>
          <td>4</td>
        </tr>
        <tr>
          <td>CSS</td>
          <td>3</td>
        </tr>
        <tr>
          <td>Rails</td>
          <td>1</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-2 col-md-2">
  <button class="btn-orange btn-apply">Apply</button>
</div>

</div>

</div>

</div>
</div>
</div>


</main>
</div>
</div>

<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>

  <script>
    function toggleChevron(e) {
      $(e.target)
      .prev('.panel-heading')
      .find("i.indicator")
      .toggleClass('fa-caret-down fa-caret-right');
    }
    $('#accordion').on('hidden.bs.collapse', toggleChevron);
    $('#accordion').on('shown.bs.collapse', toggleChevron);
  </script>
