<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <link href="css/bootstrap-form-helpers.min.css" rel="stylesheet" media="screen">



  <title>Dev</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <body class='main-body'>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
      <script src="js/bootstrap-formhelpers.min.js"></script>

  </body>
  </html>
